@tailwind base;
@tailwind components;
@tailwind utilities;

.page-body>* {
    position: fixed;
    max-width: 65ch;
    transform: scale(0%);
    @apply transition
}

.page-body-2>* {
    position: fixed;
    max-width: 65ch;
    @apply transition
}

.floating {
    animation: floating 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

@keyframes floating {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.prose a {
    /* overriding tailwind plugin defaults. */
    font-weight: inherit !important;
    color: inherit !important;
}

.precedes-unruly-image+div {
    /* To get around the default max width 65 ch as a child of page-body */
    max-width: none !important;
}

.nav-item:hover+.nav-dropdown, .nav-dropdown:hover {
    display: flex
}